.input{
    background: white;
    outline: none;
    border: rgba(255, 255, 255, 1);
    border-bottom: 1px solid black;
}
@media screen and (max-width: 570px) {
    .input {
        width: 80px;
    }


}