
.flex {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.mainitem, .item {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 88px;
    Height: 48px;

}

.mainitemRed {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.35;
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 88px;
    Height: 48px;

}

.item span {
    background-image: url(uparrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.itemRed {
    background-image: url(arrowdown.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;

}


.sideitem {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.item {
    height: 100%;
    width: 100%;
    align-items: center;
    line-height: 16px;

}
